.viewerContainer {
  height: 70vh;
  background: #fff;
}

.slideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.slideImage {
  max-width: 100%;
  max-height: 60vh;
  border-radius: 8px;
}

.slideDescription {
  margin-top: 16px;
}

